body {
    /* background: #f0f0f0 !important; */
    background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%) !important;
}

#root {
    height: 100vh;
}

.mainCalc {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 600px;
    margin: auto;
}

.react-calculator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.result-panel {
    flex: 2;
    display: flex;
    padding-top: 40px;
    -webkit-box-flex: 2;
    text-align: right;
    padding: 0px 30px;
    line-height: 80px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: rgba(19, 19, 19, .64);
    box-shadow: 0 4px 2px -2px rgba(19, 19, 19, .64);
}

.last-row {
    flex: 1;
    -webkit-box-flex: 1;
    color: #d63c6b;
    font-size: 30px;
    -webkit-box-align: end;
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
}

.cur-row {
    flex: 1;
    color: #d63c6b;
    font-size: 30px;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    -webkit-box-flex: 1;
}

.button-panel {
    flex: 5;
    -webkit-box-flex: 5;
}

.custrow {
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.s3 {
    -webkit-box-flex: 3;
    flex: 3;
}

.custcolumn {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.s1 {
    -webkit-box-flex: 1;
    flex: 1;
}

.custbutton {
    background-color: #292f36;
    color: #5cc8ff;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: inset 1px 1px 0 0 #e3e7e9;
    border: none;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    overflow: hidden;
    align-items: flex-start;
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

.custbutton:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #aaa;
    opacity: 0;
}

.s2 {
    -webkit-box-flex: 2;
    flex: 2;
}

.pinkclr {
    color: #d63c6b !important;
}

@media screen and (max-width:400px) {
    .mainCalc {
        height: 100%;
        width: 100%;
    }
}