.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #3ca2e0;
    text-align: center;
    color: #fff;
    padding: 3em;
  }
  
  .login-page h1 small {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .login-page .form-group {
    padding: 8px 0;
  }
  
  .login-page .form-content {
    padding: 40px 0;
  }
  
  .user-avatar {
    width: 125px;
    height: 125px;
  }
  
  .input-underline {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    color: #FFF;
    border-radius: 0;
  }
  
  .input-lg {
    height: 46px;
    color: #FFF;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  
  .form-control {
    display: block;
    width: 100%;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  
  .input-underline focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  box-shadow: none;
  color: #FFF;
  }
  
  .btn-white {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
  }
  
  .btn-rounded {
    border-radius: 50px;
  }
  
  .btn-outline {
    background: none;
    border-color: transparent;
    font-weight: 400;
  }
  
  .btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
  }
  
  .placeholderText::-webkit-input-placeholder {
    color: #fff !important;
  }

  .signupText {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  }

  .signupText small{
    color: #fff;
    font-size: 20px;
  }

  .signupText :hover {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .crsrpntr {
      cursor: pointer;
  }